body
{
	padding: 60px;
	background-image: url(scene.png);
}

.Tab-item {
	/* margin: 0 auto; */
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
    position: relative;
	box-shadow:
		inset 0 0 0 8px rgba(255, 255, 255, 0.5),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
    cursor: default;
	/* z-index: 1; */
}

.Tab-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 150px;
	height: 150px;
}

.Tab-info {
	position: absolute;
	background: rgba(139,69,19,0.3);
    width: inherit;
    height: inherit;
    border-radius: 50%;
	overflow: hidden;
	opacity: 0;
    transition: all 0.4s ease-in-out;
	transform: scale(0);
}

.Tab-img-1 { 
    background-image: url(table3.png);
}

.Tab-info h3 {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 45px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #FFF, 
        0 1px 2px rgba(0,0,0,0.3);
}
 
.Tab-info p {
    color: #FFF;
	padding: 10px 5px;
	font-style: italic;
    margin: 0 30px;
    font-size: 12px;
	opacity: 0;
	border-top: 1px solid rgba(255,255,255,0.5);
	transition: all 1s ease-in-out 0.4s;
}
 
.Tab-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}
 
.Tab-info p a:hover {
    color: rgba(255,242,34, 0.8);
}

.Tab-item:hover {
    box-shadow: 
		inset 0 0 0 1px rgba(255,255,255, 0.1),
        0 1px 2px rgba(0,0,0,0.1);
}
 
.Tab-item:hover .Tab-info {
    transform: scale(1);
	opacity: 1;
}

.Tab-item:hover .Tab-info p {
	opacity: 1;
}

#player
{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 40px;
	transition: all 0.4s ease-in-out;
	border: 1px solid #000;
	position: absolute;
	font-family: Monospace;
	z-index: 2;
	text-align: center;
	vertical-align: text-middle;
	display: inline-block;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#player-example
{
	visibility: hidden;
	width: 40px;
	height: 40px;
}
#addSome
{
	position: absolute;
	display: inline-block;
	top: 5px;
	left: 5px;
	padding: 5px;
	background: #CCC;
}