body
{
	padding: 60px;
	background-image: url(paper.jpg);
}

/*.Table
{
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	border: 1px solid #000;
	position: relative;
	z-index: -1;
	background: url(heh.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
} */

.Tab-grid {
	width: 220px;
	height: 220px;
	display: inline-block;
	text-align: center;
	margin: 20px;
}

.Tab-item {
	/* margin: 0 auto; */
	width: 100%;
	height: 100%;
	border-radius: 50%;
    position: relative;
	/*z-index: -1;*/
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    cursor: default;
}

.Tab-info-wrap {
	position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    perspective: 800px;
    transition: all 0.4s ease-in-out;
    top: 20px;
    left: 20px;
    background: #f9f9f9 url(paper.jpg);
    box-shadow: 
        0 0 0 20px rgba(255,255,255,0.2), 
        inset 0 0 3px rgba(115,114, 23, 0.8);
}

.Tab-info {
	position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    transform-style: preserve-3d;
}

.Tab-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    backface-visibility: hidden;
}

.Tab-info .Tab-info-back {
	transform: rotate3d(0,1,0,180deg);
    /*background: #000;*/
	background-image: url(test2.jpg);
}

.Tab-img-1 { 
    background-image: url(test2.jpg);
}

.Tab-info h3 {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 26px;
    margin: 0 15px;
    padding: 40px 0 0 0;
    height: 90px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #000, 
        0 1px 2px rgba(255,255,255,0.3);
}
 
.Tab-info p {
    color: #000;
    padding: 10px 5px;
    margin: -60px 20px;
    font-size: 16px;
    border-top: 1px solid rgba(255,255,255,0.5);
}
 
.Tab-info p a {
    display: block;
    color: rgba(0,0,0,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}
 
.Tab-info p a:hover {
    color: rgba(255,242,34, 0.8);
}

.Tab-item:hover .Tab-info-wrap {
    box-shadow: 
        0 0 0 0 rgba(255,255,255,0.8), 
        inset 0 0 3px rgba(115,114, 23, 0.8);
}
 
.Tab-item:hover .Tab-info {
    transform: rotate3d(0,1,0,-180deg);
}

#player
{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 40px;
	transition: all 0.4s ease-in-out;
	border: 1px solid #000;
	position: absolute;
	font-family: Monospace;
	/*z-index: 1; */
	text-align: center;
	vertical-align: text-middle;
	display: inline-block;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#player-example
{
	visibility: hidden;
	width: 40px;
	height: 40px;
}
#addSome
{
	position: absolute;
	display: inline-block;
	top: 5px;
	left: 5px;
	padding: 5px;
	background: #CCC;
}